@page "/reset-password"
@layout ConnectionLayout

<PageTitle>Reset Password</PageTitle>

<section class="resetPassword">
    @if (!passwordChanged)
    {
        <div class="circle-primary">
            <svg>
                <use xlink:href="icons/icons.svg#icon-key"></use>
            </svg>
        </div>
        <h1 class="resetPassword__title display-sm">Welcome</h1>
        <p class="resetPassword__subtitle">Your new password must be different to previously used passwords.</p>

        <form class="resetPassword__form">
            <div class="input input-password">
                <label>Password</label>
                <input type="password" placeholder="••••••••"/>
                <span>Must be at least 8 characters.</span>
            </div>
            <div class="input input-password">
                <label>Password</label>
                <input type="password" placeholder="••••••••"/>
            </div>
            <input type="submit" value="Reset password" class="btn-primary"/>
        </form>

        <div class="resetPassword__link text-sm">
            <NavLink href="/login" class="link">
                <svg>
                    <use xlink:href="icons/icons.svg#icon-arrow-left"></use>
                </svg>
                Back to log in
            </NavLink>
        </div>    
    } 
    else 
    {
        <div class="circle-success">
            <svg>
                <use xlink:href="icons/icons.svg#icon-check-circle"></use>
            </svg>
        </div>
        <h1 class="resetPassword__title display-sm">Welcome</h1>
        <p class="resetPassword__subtitle">Your password has been successfully reset. Click below to log in magically.</p>
        <button class="btn-primary">Continue</button>

        <div class="resetPassword__link text-sm">
            <NavLink href="/login" class="link">
                <svg>
                    <use xlink:href="icons/icons.svg#icon-arrow-left"></use>
                </svg>
                Back to log in
            </NavLink>
        </div>    
    }
</section>

@code {
    // Change view on bool
    private bool passwordChanged = true;
}