@inherits LayoutComponentBase
@inject IJSRuntime JS

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <Sidebar />

    <main class="content">
        @Body
    </main>
</div>

@code {        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<IJSObjectReference>("import", "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js");
            await JS.InvokeAsync<IJSObjectReference>("import", "./bootstrap/bootstrap.bundle.min.js");
            // await JS.InvokeAsync<IJSObjectReference>("import", "https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js");
            await JS.InvokeAsync<IJSObjectReference>("import", "./js/app.js");
        }
    }
}