@page "/forgot-password"
@layout ConnectionLayout

<PageTitle>Forgot Password</PageTitle>

<section class="forgotPassword">
    @if (!emailSent)
    {
        <div class="circle-primary">
            <svg>
                <use xlink:href="icons/icons.svg#icon-key"></use>
            </svg>
        </div>
        <h1 class="forgotPassword__title display-sm">Welcome</h1>
        <p class="forgotPassword__subtitle">No worries, we’ll send you reset instructions.</p>

        <form class="forgotPassword__form">
            <div class="input input-text">
                <label>Email</label>
                <input type="email" placeholder="Enter your email" />
            </div>
            <button type="submit" class="btn-primary">Reset password</button>
        </form>

        <div class="forgotPassword__link text-sm">
            <NavLink href="/login" class="link">
                <svg>
                    <use xlink:href="icons/icons.svg#icon-arrow-left"></use>
                </svg>
                Back to log in
            </NavLink>
        </div>    
    } 
    else 
    {
        <div class="circle-primary">
            <svg>
                <use xlink:href="icons/icons.svg#icon-mail"></use>
            </svg>
        </div>
        <h1 class="forgotPassword__title display-sm">Welcome</h1>
        <p class="forgotPassword__subtitle">We sent a password reset link to <b>olivia@gmail.com</b></p>
        <button type="button" class="btn-primary">Open email app</button>
        <div class="forgotPassword__resend">
            <p class="text-sm">Didn’t receive the email ?</p>
            <button class="btn-link">Click to resend</button>
        </div>

        <div class="forgotPassword__link text-sm">
            <NavLink href="/login" class="link">
                <svg>
                    <use xlink:href="icons/icons.svg#icon-arrow-left"></use>
                </svg>
                Back to log in
            </NavLink>
        </div>    
    }
</section>

@code {
    // Change view on bool
    private bool emailSent = false;
}